/* Conteúdo principal */
.content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.welcomeBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}